@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    section{
        width: 90vw;
    }

    #imagem{
        float: right;
        width: 33%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 65%;
        transform: translate(0.8%);
    }
}

@media screen and (min-width: 992px){
    section{
        width: 992px;
    }

    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 48%;
        transform: translate(1%);
    }
}